*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
/*版心*/
.content{
	width: 1200px;
	margin: 0 auto;
}
nav{
	position: fixed;
    z-index: 10;
   	left: 0;
    top: 0.05rem;
    width: 100%;
    overflow: hidden;
}
nav:before{
    content: "";
   	display: block;
  	position: absolute;
    left: 0;
    top: -.05rem;
    right: 0;
    height: 80px;
    background: url(https://www.tsinghua.edu.cn/image/head-bg.png) center repeat-x;
    background-size: auto 99%;
}
nav .wal{
	min-height: 1.1rem;
    position: relative;
    max-width: 100%;
    margin: 0 .4rem;
}
nav ul{
	overflow: hidden;
	float: right;
}
nav li{
	float: left;
	margin-left: 40px;
	height: 80px;
	text-align: center;
}
nav li a{
	color: white;
	line-height: 80px;
}
nav li a:hover{
	color: orange;
}
#nav_left{
	float: left;
	color: white;
	line-height: 80px;
	font-size: 24px;
	margin-left: 100px;
}
#nav_right{
	margin-right: 100px;
}
#main{
	overflow: hidden;
	margin-top: 200px;
}
#left{
	float: left;
    width: 200px;
	margin-left: 120px;
    text-align: center;
}
#left #title{
    background-color: #3ae098b0;
    height: 80px;
    line-height: 80px;
    text-align: left;
    cursor: default;
}
#left #title h2{
    margin-left: 10px;
    font-family: "华文新魏";
    font-size: 30px;
}
#left li a{
    display: block;
    font-size: 20px;
    background-color: #DDF3FFB0;
    border-top: 1px dashed, #ffabab;
    height: 80px;
    line-height: 80px;
    color: black;
}
#left .now a{
    background-color: #e5ffa1b0;
}
#right{
    float: left;
    padding: 20px 20px;
    margin-left: 80px;
    height: 360px;
    width: 600px;
    background-color: #b3ffb3b0;
}
#right #title_right{
    margin-bottom: 40px;
}
#right li{
    margin-top: 30px;
    padding: 8px 5px;
    border-bottom: 1px solid black;
    position: relative;
}
#right span{
    font-size: 10px;
    position: absolute;
    bottom: -18px;
    right: 2px;
}
#right a{
    color: black;
}
#right a:hover{
    color: #eb3c34;
}