*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

nav{
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0.05rem;
    width: 100%;
    overflow: hidden;
}
nav:before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -.05rem;
    right: 0;
    height: 80px;
    background: url(https://www.tsinghua.edu.cn/image/head-bg.png) center repeat-x;
    background-size: auto 99%;
}
nav .wal{
    min-height: 1.1rem;
    position: relative;
    max-width: 100%;
    margin: 0 .4rem;
}
nav ul{
    overflow: hidden;
    float: right;
}
nav li{
    float: left;
    margin-left: 40px;
    height: 80px;
    text-align: center;
}
nav li a{
    color: white;
    line-height: 80px;
}
nav li a:hover{
    color: orange;
}
#nav_left{
    float: left;
    color: white;
    line-height: 80px;
    font-size: 24px;
    margin-left: 100px;
}
#nav_right{
    margin-right: 100px;
}

.homef .home-footer .fleft{
    background: #062c7b;
}
body{
    background-color: #fafbfd;
}
.homef .home-footer .copyright span{
    display: inline-block;
    color: white;
}
.homef .home-footer .copyright span a{
    color: white;
}
.homef .home-footer .fleft .frightb{
    border-top: 1px solid #1f4288;
    height: 68px;
}
.fzuo{
    height: 228px;
}
.homef .home-footer .footlogo{
    margin-top: 60px;
}
.homebtn{
    display: none;
}
.homea-top{
  
    padding: 0px 50px;
    background-color: #13439b;
    height: auto;
}
.container{
    max-width: 1720px;
    width: 94%;
    margin: auto;
    padding-top: 50px;
    border-left: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(255,255,255,0.1);
    position: relative;
    z-index: 2;
}
.nav_two a{
    color: #8eace7;
    font-size: 18px;
    margin-right: 50px;
    display: inline-block;
}

.nav_two_title{
    font-size: 40px;
    color: white;
    font-family:"SourceHanSerifCN-Bold";
}
.nav_two{
    margin-top: 80px;
    margin-left: 160px;
    margin-bottom: 10px;
}
.nav_two span{
    vertical-align: middle;
}
.homea-nav .navsitem>a{
    line-height: 100px;
    font-size: 18px;
}
.homea-nav .nav_active>a{
    font-size: 22px;
}
.homea-nav .nav_active{
    color: black;
    background-color: white;
}
.homea-nav .nav_active a{
    color: black;
}
.homea-nav .nav_active:hover a{
    color: white;
}
.homea-nav .navsitem .subnavs li a{
    line-height: inherit;
}
.homea{
    background: #062d7b;
}
.c_line{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    top: 0;
}
.nav_kuai{
    border-top: 1px solid rgba(255,255,255,0.1);
    height: 35px;
}
.line{
    width: 1px;
    height: 20px;
    background: rgba(255,255,255,0.1);
    display: inline-block;
    vertical-align: middle;
    margin: 0 30px;
}
.nav_two  .two_active{
    font-weight: bold;
    position: relative;
    color: white;
}
.two_active::after{
    position: absolute;
    width: 46px;
    height: 2px;
    background: #f5c606;
    content: '';
    display: block;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 24px;
}
.crumbs{
    width: 1400px;
    margin: auto;
    text-align: right;
    color: #868686;
    padding: 38px 0;
}
.crumbs a{
    color: #868686;
}
.crumbs .last{
    color: #13439b;
}
.crumbs img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.fnt_120{
    font-size: 120px;
    line-height: 1;
    font-weight: bold;
}
.fnt_100{
    font-size: 100px;
}
.fnt_48{
    font-size: 48px;
}
.fnt_34{
    font-size: 34px;
}
.fnt_30{
    font-size: 30px;
}
.fnt_26{
    font-size: 26px;
}
.fnt_24{
    font-size: 24px;
}
.fnt_22{
    font-size: 22px;
}
.fnt_20{
    font-size: 20px;
}
.fnt_18{
    font-size: 18px;
}
.fnt_16{
    font-size: 16px;
}
.fnt_14{
    font-size: 14px;
}
.clearfix{
    *zoom:1;
}
.clearfix::after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.as{
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}
.sa{
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;

}
@font-face{
    font-family:'lingdao';
    src : url('../fonts/monbaiti.ttf'); 
}  
@font-face{
    font-family: 'time';
    src : url('../fonts/times.ttf'); 
} 
@media screen and (max-width: 1366px) {
    .crumbs{
        width: 1100px;
    }
    
    .fnt_120 {
        font-size: 80px;
    }
    .fnt_34{
        font-size: 26px;
    }
    .fnt_22{
        font-size: 18px;
    }
}
@media screen and (max-width: 1100px) {
    .crumbs{
        width: 960px;
    }
}
@media screen and (max-width: 768px) {
    .nav_kuai{
        height: 20px;
    }
    .container{
        border-left: none;
        border-right: none;
    }
    .crumbs{
        width: 94%;
        padding: 15px 0;
    }
    .nav_two{
        margin: 30px 0 10px;
    }
    .nav_two span{
        display: block;
    }
    .line{
        display: none!important;
    }
    .nav_two a{
        padding:0;
        margin-bottom: 10px;
    }
    .fnt_120{
        font-size: 40px;
    }
    .fnt_100{
        font-size: 30px;
    }
    .fnt_48{
        font-size: 30px;
    }
    
    .fnt_18{
        font-size: 12px;
    }
    .homef .home-footer .fleft .frightb{
        height: 1px;
    }
    .homef .home-footer .footlogo{
        margin-top: 0;
    }
    .fzuo{
        height: 140px;
    }
    .homef .home-footer .fright .frighta{
        padding: 0 5%;
    }
    .nav_two_title{
        margin-bottom: 10px;
        font-size: 30px;
    }
    .two_active::after{
        display: none;
    }
}

.con{
    width: 1400px;
    margin:45px auto 170px;
}
.con li{
    float: left;
    color: white;
    width: 20%;
    height: 350px;
    transition: 1s;
    position: relative;
    cursor: pointer;
}
.con li:first-child .content{
    background-color: #24a8e6;
}
.con li:nth-child(2) .content{
    background-color: #6fbc48;
}
.con li:nth-child(3) .content{
    background-color: #2970e5;
}
.con li:nth-child(4) .content{
    background-color: #f8b62c;
}
.con li:nth-child(5) .content{
    background-color: #0062ad;
}
.img{
    padding: 80px 0 56px;
    transition: 1s;
}
.img img{
    margin: auto;
}
.title{
    text-align: center;
    position: relative;
    padding-bottom: 30px;
    transition: 1s;
}
.title::after{
    content: "";
    display: block;
    width: 66px;
    height: 2px;
    background: white;
    left: 50%;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
}
.shaw{
    display: none;
    padding: 0 45px;
    margin-top: 40px;
}

.t1{
    line-height: 1;
    margin-bottom: 10px;
    font-weight: bold;
}
.t2{
    color: rgba(255,255,255,0.6);
}
.same{
    margin-bottom: 24px;
}
.bg{
    position: absolute;
    display: none;
    transition: 1s;
    width: 100%;
    height: 100%;
    background: url(../img/a.png);
    background-size: cover;
    top: 0;
    left: 0;
}
.con li .content{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.con .li_active .content{
    width: 320px;
    position: absolute;
    z-index: 2;
    height: 446px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.con .li_active .content .shaw{
    display: block;
}
.con .li_active .content .img{
    padding: 40px 0 34px;
}
.con .li_active .content .bg{
    display: block;
}
.con .li_active .content .title::after{
    background-color: #ffcc00;
}

@media screen and (max-width: 1400px) {
    .con {
        width: 90%;
    }
    .con .li_active .content{
        width: 280px;
        height: 410px;
    }
}
@media screen and (max-width:768px) {
    .con {
        width: 94%;
        margin:0px auto 40px;
        overflow: hidden;
    }
    .con li{
        width: 100%;
        height: 380px;
    }
    .con .li_active .content{
        width: 100%;
    }
    .shaw{
        padding: 0 20px;
    }

}